body {
	margin: 0;
}

header {
	background-color: #1EF30E;
	padding-bottom: 30px;
}
.header-wrapper {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
}

.logo{
   position: relative;
   top: 20px;
}

.site-menu {
   position: absolute;
   right: 0;
   top: 50%;
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style: none;
}

.site-menu li {
	display: inline-block;
} 

.site-menu a {
	color: #fff;
}